h1 {
    font-family: "Oswald", sans-serif;  /* Change font for h1 */
    font-size: 36px;  /* Increase text size */
    color: #0867cd;  /* Change text color */
}

p {
    font-family: "Georgia", serif;  /* Change font for p */
    font-size: 18px;  /* Make text readable */
    color: #080aa6;  /* Dark gray text */
}
